.DS_Store
node_modules
.vscode
*.zip
test.js
Exercise2/Rotsides_Eleni_ex2 copy
Exercise3/Rotsides_Eleni_ex3 copy
Lab2/Rotsides_Eleni original
Lab3/Rotsides_Eleni_original
Lab4/Rotsides_Eleni_CS546_Web copy
Lab5/Rotsides_Eleni_CS546_Web copy
Lab6/Rotsides_Eleni_CS546_Web copy