<h1>The Best Palindrome Checker in the World!</h1>
<p>Want to check whether or not a word or phrase is a palindrome? Fear not, your wish is my command, this website
    will allow you to do just that! A palindrome is a phrase that is
    spelled the same way, backwards and forwards (ignoring spacing and punctuation;
    only alphanumeric characters matter).</p>
<form action="/result" method="POST">
    <label for="input">Check Here:</label>
    <br>
    <input type="text" name="text-to-test" placeholder="Am I? Or am I not?" id="input" />
    <br>
    <button type="submit">Click to Check</button>
</form>